<% include ../partials/header %>
<section class="page grid-container" style="overflow: fixed;">
  <div style="display: flex;">
    <div style=" flex-grow: 1;">
    <h1 style="font-size: 7vw;">Let's do something amazing.</h1>    <div class="smalltext"><p>H-Block 2nd Floor</p>
<p>(+91) 80085 51266 (President)<br /><a href="mailto:sai.kiran3500@gmail.com">sai.kiran3500@gmail.com</a></p>
<p>Projects / idea<br /><a href="mailto:ewbhyd@gitam.edu">ewbhyd@gitam.edu</a></p></div>
 </div>

      <div class="rwd-form" style=" flex-grow: 2;">
    <form action="/idea" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" placeholder="Kiran" autocomplete="off" required />
      </div>
     
      <div class="form-group">
        <label for="price">Phone</label>
        <input class="form-control" type="number" name="Phone" placeholder="+91" autocomplete="off" required />
      </div>
      <div class="form-group">
        <label for="location">Year</label>
        <input class="form-control" type="number" name="year" id="year" placeholder="I" autocomplete="off" />
      </div>
      <div class="form-group">
        <label for="description">PIN</label>
        <input class="form-control" type="number" name="PIN" placeholder=" 22153....."  height="100" autocomplete="off" />
      </div>
      <div class="form-group">
        <label for="description">Idea</label>
        <input class="form-control" type="text" name="idea" placeholder=" I have an Idea ....."  height="100" autocomplete="off" />
      </div>
      <div class="form-group">
        <button class="btn btn-md btn-primary btn-block">Submit!</button>
      </div>
    </form>
    
    <a href="/campgrounds">Back</a>
   
  </div> 
 <div style=" flex-grow: 3;">
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </div></div>

</section>    

<% include ../partials/footer %>